
// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

$sand: #ffc581;
$crimson: #5a0e18;

body { padding-top: 80px; background: #FFF; }

#main-nav .navbar-brand { background: url(/images/logo.png) no-repeat left center; width:60px; }
.navbar-fixed-top { border-bottom: 10px solid $sand; }
footer { background-color: #E5E5E5; padding: 20px 0; border-top: 6px solid $crimson; margin-top: 20px; }

.adjust-quantity { width: 70px; }
#shopping-cart-tbl td, #product-list-tbl td { vertical-align: middle }
.photo-thumbnail { position: relative; }
.del-photo-btn { z-index: 10; position: absolute; right:10px; top:10px }
#product-description .form-inline { display: inline-block }
.preview-img { width: 80px; margin-bottom:0 }
#merit-balance-status a { color: $sand !important; }
.checkout-row { border-bottom: 1px solid #eeeeee; margin-bottom: 12px; padding: 10px 0 }
.checkout-title { font-weight: bold }
.order-summary-grand-total { font-weight: bold; color: $crimson; }
.coupon-template { width: 360px; height: 240px; background: url('/images/discount_coupon_final.jpg') no-repeat; border: 1px solid #DDD; margin-bottom:20px; padding:15px; font-weight:bold; }
.coupon-value { font-size: 48px; margin-top:60px }
.coupon-code { font-size: 18px; }
.complete-order-frm { width:auto; }
#order-toogle-btns { margin-right:15px;}